.wrapper__form-center {
  max-width: 400px;
  margin: 0 auto;
}

.form {
  position: relative;
  max-width: 400px;
  border-radius: 0 0 10px 10px;
  padding: 20px;
  font-family: 'Roboto';
  background: white;

  & h1 {
    display: block;
    text-align: center;
    padding: 0;
    margin: 0px 0px 20px 0px;
    color: #5C5C5C;
    font-size: x-large;
  }

  & ul {
    list-style: none;
    padding: 0;
    width: 90%;
    margin: 20px auto;

  }

  & li {
    display: block;
    padding: 9px;
    border: 1px solid #DDDDDD;
    margin-bottom: 30px;
    border-radius: 3px;
  }

  & li > label {
    display: block;
    float: left;
    margin-top: -19px;
    background: #FFFFFF;
    height: 14px;
    padding: 2px 5px 2px 5px;
    color: black;
    font-size: 14px;
    overflow: hidden;
    font-family: 'Roboto';
  }

  .form li:hover > label {
    color: black;
  }

  & input[type="text"],
  & input[type="email"],
  & input[type="password"] {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    display: block;
    outline: none;
    border: none;
    height: 35px;
    line-height: 25px;
    font-size: 16px;
    padding: 0;
    font-family: 'Roboto';
    letter-spacing: 0.05em;
  }

  & input[type="text"]::placeholder,
  & input[type="email"]::placeholder,
  & input[type="password"]::placeholder {
    opacity: 0.3;
  }

  & li > span {
    background: #F3F3F3;
    display: block;
    padding: 3px;
    margin: 0 -9px -9px -9px;
    text-align: center;
    color: #C0C0C0;
    font-family: 'Roboto';
    font-size: 11px;
  }

  & input[type="submit"],
  & input[type="button"] {
    background: #2471FF;
    border: none;
    padding: 10px 20px 10px 20px;
    border-bottom: 3px solid #5994FF;
    border-radius: 3px;
    color: #D2E2FF;
  }

  & input[type="submit"]:hover,
  & input[type="button"]:hover {
    background: #6B9FFF;
    color: #fff;
  }

  &__wrapper {
    position: relative;
    max-width: 400px;
    margin: 50px auto;

    &-elements {
      width: 100%;
      height: 100%;
    }
  }

  &__header {
    background: #1b1e24;
    width: 100%;
    height: 60px;
    margin: 0 auto;
    border-radius: 10px 10px 0 0;
    padding-top: 15px;

    & span {
      color: white;
      font-family: "Astakhov Skin";
      font-size: 30pt;
      padding-right: 10px;
    }
  }
}

.form-button {
  margin: 0 auto 50px;
  height: 30px;
  width: 300px;
  position: relative;
  cursor: pointer;

  &__background {
    margin: 0 auto 50px;
    height: 60px;
    width: 300px;
    border: 2px solid #FF6C00 !important;
    border-radius: 5px !important;
    background: #FF6C00 !important;
    position: absolute;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }

  &__text {
    font-family: 'Keep Calm';
    font-size: 24pt;
    top: 25%;
    color: #1b1e24;
    cursor: pointer;
    position: relative;
    margin-left: -10px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
  }

  &:active, &__background:active, &__text:active {
    opacity: 0.8;
  }
}

.ok {
  border: 2px solid limegreen !important;
  transition: 0.5s;
}

.error {
  border: 2px solid red !important;
  transition: 0.5s;
}

.errorText {
  color: red !important;
  transition: 0.5s;
}

.errorText__response {
  color: red !important;
}
