.close {
  position: relative;
  font-family: 'Keep Calm' !important;
  font-size: 45pt !important;
  color: darkgrey !important;
  float: right;
  left: -10px;
  z-index: 13;
  opacity: 1 !important;

  &:hover,
  &:focus {
    color: white !important;
    text-decoration: none;
    cursor: pointer;
  }
}

.back {
  position: fixed;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.8;
}

.mobile__close {
  top: 30px;
  left: -30px;
  z-index: 13;
  transform: scale(2, 2);
}
