.gameTable__wrapper {
  z-index: 999;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
  display: none;

  &__table {
    height: 250px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }
}

.shooterAnimation {
  z-index: 38;
  position: absolute;
  bottom: calc(50vh - 130px);
  left: calc(50vw + 40px);
}
