@font-face {
  font-family: 'Astakhov Skin';
  src: url(/static/fonts/AstakhovSkin.otf);
}

@font-face {
  font-family: 'Keep Calm';
  src: url(/static/fonts/KeepCalm-Medium.ttf);
}

@import url('https://fonts.googleapis.com/css?family=Roboto');
