.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.wrapper__form {
  width: 100%;
  margin: 0 auto;
  position: absolute;
}

.wrapper__main__form {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main__form {
  min-width: 400px;
  min-height: 200px;
}

.wrapper__main__form1 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.wrapper__form1 {
  width: 100%;
  top: 350px;
  position: absolute;
}
