@media screen {
  .logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &__wrapper {
      width: 100%;
      margin: 0 auto;
      position: relative;
    }

    &__header {
      font-family: 'Astakhov Skin';
      font-size: 56pt;
      color: white;
      cursor: default;
      margin-bottom: 200px;
      margin-top: 50px;
      width: 100%;

      &-register {
        font-family: 'Roboto';
        font-size: 12pt;
        margin-top: -70px;
        margin-left: 610px;
        display: block;
      }
    }
  }
}

@media screen and (max-width: 980px) {
  .logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &__wrapper {
      width: 100%;
      margin: 0 auto;
      position: relative;
      top: 70px;
      transform: scale(1.5, 1.5);
    }

    &__header {
      font-family: 'Astakhov Skin';
      font-size: 56pt;
      color: white;
      cursor: default;
      margin-bottom: 200px;
      margin-top: 50px;
      width: 100%;

      &-register {
        font-family: 'Roboto';
        font-size: 12pt;
        margin-top: -70px;
        margin-left: 610px;
        display: block;
      }
    }
  }
}
