.registration {
  position: relative;
  top: 100px;
  margin: 0 auto;
  max-width: 400px;
  z-index: 1;
}

.registration__back {
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.8;
}

.common {
  position: absolute;
  width: 100%;
  height: 100%;
}

.wrapper__registration {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.close {
  position: relative;
  font-family: 'Keep Calm' !important;
  font-size: 45pt !important;
  color: darkgrey !important;
  float: right;
  left: -10px;
  z-index: 1;
  opacity: 1 !important;

  &:hover,
  &:focus {
    color: white !important;
    text-decoration: none;
    cursor: pointer;
  }
}
