.registration {
  position: relative;
  top: 100px;
  margin: 0 auto;
  max-width: 400px;
  z-index: 1;
}

.common {
  position: absolute;
  width: 100%;
  height: 100%;
}

.wrapper__registration {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.mobile {
  &__registration {
    position: relative;
    top: 600px;
    margin: 0 auto;
    max-width: 400px;
    z-index: 1;
    transform: scale(2, 2);
  }
}
