.userblock {
  position: absolute;
  width: 300px;
  height: 45px;
  background: #1B1E24;
  margin: 5px;
  right: 0;

  &__username {
    color: white;
    font-family: 'Keep Calm';
    font-size: 12pt;
    position: relative;
    top: 15px;
    left: -80px;
  }

  &__button {
    position: relative;
    left: 90px;
    top: -19px;
  }

  &__userphoto {
    position: relative;
    width: 40px;
    height: 40px;
    top: -106px;
    left: 20px;
  }
}

.mobile__userblock {
  right: 120px !important;
  transform: scale(0.9, 0.9);
}
