.wrapper__game {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 22;
  display: none;
}

canvas {
  z-index: 21;
  position: fixed;
  left: 0;
}

.game__background {
  width: 100%;
  height: 100%;
  background: radial-gradient(transparent 50%, black);
  position: absolute;
  z-index: 40;
}

.wrapper__health {
  position: absolute;
  bottom: 40px;
  right: 50px;
  z-index: 43;
  color: #000 !important;
  background-color: rgba(176, 176, 176, 0.95) !important;
  width: 150px;

  &-red {
    color: #fff !important;
    background-color: #f40110 !important;
    height: 24px;
    width: 100%;
  }

  &-text {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    top: 5px;
    font-family: "Keep Calm";
    color: #e9e9e9;
  }
}

.wrapper__patrons {
  position: absolute;
  right: 140px;
  z-index: 43;
  width: 150px;

  &-inf {
    transform: scale(0.2, 0.2);
    margin-top: 270%;
    position: absolute;
    z-index: 45;
  }

  &-red {
    color: #fff !important;
    background-color: #f40110 !important;
    height: 24px;
    width: 100%;
  }

  &-text {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    top: 5px;
    font-family: "Keep Calm";
    color: #e9e9e9;
  }
}

.parent__inf {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
  z-index: 45;

  &__wrapper {
    width: 250px;
    height: 250px;
    position: absolute;
    top: -90px;
    right: 0;
    left: 0;
    margin: auto;

    &-img {
      transform: scale(0.2, 0.2);
      opacity: 0.9;
      max-width: 100%;
      height: auto;
      display: block;
      border: none;
    }
  }
}

.blocker {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 55;
}

.instructions {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  color: #ffffff;
  text-align: center;
}

.weapon__wrapper {
  position: absolute;
  bottom: 0;
  z-index: 39;
  width: 100%;
  height: 40%;

  &-img {
    position: relative;
    left: 12%;
  }
}

.sight {
  position: fixed;
  bottom: calc( 50vh - 45px );
  width: 40px;
  height: 40px;
  z-index: 999;
  left: calc( 50vw - 15px );

  &__top {
    width: 2px;
    background-color: white;
    height: 15px;
    position: absolute;
    left: 19px;
    transition-property: top;
    transition-duration: 0.21s;
  }

  &__right {
    width: 15px;
    background-color: white;
    height: 2px;
    position: absolute;
    top: 19px;
    left: 25px;
    transition-property: left;
    transition-duration: 0.21s;
  }

  &__bottom {
    width: 2px;
    background-color: white;
    height: 15px;
    position: absolute;
    left: 19px;
    top: 25px;
    transition-property: top;
    transition-duration: 0.21s;
  }

  &__left {
    width: 15px;
    background-color: white;
    height: 2px;
    position: absolute;
    top: 19px;
    transition-property: left;
    transition-duration: 0.21s;
  }
}

.loading {
  width: 100%;
  height: 100%;

  &-text {
    position: absolute;
    z-index: 100;
    bottom: 20px;
    right: 0;
    font-size: 20pt;
    font-family: "Keep Calm";
    color: white;
  }
}
