.wrapper__game {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 22;
}

canvas {
  z-index: 21;
  position: fixed;
  left: 0;
}

.game__background {
  width: 100%;
  height: 100%;
  background: radial-gradient(transparent 50%, black);
  position: absolute;
  z-index: 40;
}
