.wrapper__game {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 22;
}

canvas {
  z-index: 21;
  position: fixed;
  left: 0;
}

.game__background {
  width: 100%;
  height: 100%;
  background: radial-gradient(transparent 50%, black);
  position: absolute;
  z-index: 40;
}

.weapon {
  width: 100%;
  height: 100%;
  background: url(/static/gameSource/weapon.png) no-repeat;
  position: fixed;
  bottom: -280px;
  margin-left: 100px;
  transform: scale(0.7, 0.7);
  z-index: 39;
}

.aim {
  width: 100%;
  height: 100%;
  background: url(/static/gameSource/aim.png) no-repeat center center fixed;
  position: fixed;
  transform: scale(0.05, 0.05);
  top: 20px;
  z-index: 42;
}
