.wrapper__game {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 22;
}

canvas {
  z-index: 21;
  position: fixed;
  left: 0;
}

.game__background {
  width: 100%;
  height: 100%;
  background: radial-gradient(transparent 50%, black);
  position: absolute;
  z-index: 40;
}

.wrapper__weapon {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 39;

  &-target {
    background: url(/static/gameSource/weapon.png);
    bottom: 0;
    position: fixed;
  }
}

.weapon {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 39;

  &__img {
    position: absolute;
    bottom: -30px;
    right: 100px;
  }
}

.aim {
  width: 100%;
  height: 100%;
  background: url(/static/gameSource/aim.png) no-repeat center center fixed;
  position: fixed;
  transform: scale(0.05, 0.05);
  top: 20px;
  z-index: 42;
}

.wrapper__health {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 43;
  color: #000 !important;
  background-color: rgba(176, 176, 176, 0.95) !important;
  width: 150px;

  &-red {
    color: #fff !important;
    background-color: #f40110 !important;
    height: 24px;
    width: 72%;
  }
}
