.wrapper__game, wrapper__game:-webkit-full-screen {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 22;
  display: none;
}

canvas {
  z-index: 21;
  position: fixed;
  left: 0;
}

.game__background {
  width: 100%;
  height: 100%;
  background: radial-gradient(transparent 50%, black);
  position: absolute;
  z-index: 40;
}

.wrapper__patrons {
  position: absolute;
  right: 140px;
  z-index: 43;
  width: 150px;

  &-inf {
    transform: scale(0.2, 0.2);
    margin-top: 270%;
    position: absolute;
    z-index: 45;
  }

  &-red {
    color: #fff !important;
    background-color: #f40110 !important;
    height: 24px;
    width: 100%;
  }

  &-text {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    top: 5px;
    font-family: "Keep Calm";
    color: #e9e9e9;
  }
}

.parent__inf {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
  z-index: 45;

  &__wrapper {
    width: 250px;
    height: 250px;
    position: absolute;
    top: -90px;
    right: 0;
    left: 0;
    margin: auto;

    &-img {
      transform: scale(0.2, 0.2);
      opacity: 0.9;
      max-width: 100%;
      height: auto;
      display: block;
      border: none;
    }
  }
}

.blocker {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 55;
}

.instructions {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  color: #ffffff;
  text-align: center;
}

.loading {
  width: 100%;
  height: 100%;

  &-text {
    position: absolute;
    z-index: 100;
    bottom: 20px;
    right: 0;
    font-size: 20pt;
    font-family: "Keep Calm";
    color: white;
  }
}

.hurt {
  width: 100%;
  height: 100%;
  background: radial-gradient(transparent 50%, darkred);
  position: absolute;
  z-index: 40;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.4s;
}

.count__parent {
  z-index: 999;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;

  &-child-text1 {
    font-family: "Keep Calm";
    font-size: 17pt;
    color: white;
    position: absolute;
    top: 35%;
    right: 0;
    bottom: 0;
    left: 1%;
    margin: auto;
  }

  &-child-text2 {
    font-family: "Keep Calm";
    font-size: 23pt;
    color: #E5E500;
    position: absolute;
    top: 45%;
    right: 0;
    bottom: 0;
    left: 1%;
    margin: auto;
  }
}

.counter {
  position: absolute;
  z-index: 999;
  width: 100%;
  height: 100%;
}

.menu__wrapper__parent-buttons {
  position: fixed;
  z-index: 998;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: auto;
  display: none;

  &-center {
    z-index: 998;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }
}

.game__menu-buttons {
  position: relative;
  top: 40%;
}

.menu__wrapper {
  position: fixed;
  z-index: 993;
  width: 100%;
  height: 100%;
  background: black;
  top: 0;
  opacity: 0.6;
  transition-property: opacity;
  transition-duration: 0.7s;
  display: none;
}
